body {
margin-top: 15vh;;
background:;
width: 100%;
height: auto;
background-size:cover;
background-repeat: no-repeat;
/* font-family: 'Lexend Deca', sans-serif;
font-family: 'Oxygen', sans-serif; */
}

.main {
  margin-top: 120px;
}

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lexend+Deca:wght@100;300;400;500;700;900&family=Oxygen:wght@300;400;700&display=swap');
@font-face {
  font-family: 'benguiatbold';
  src: url('../assets/benguiat_bold-webfont.woff2') format('woff2'),
       url('../assets/benguiat_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

} 

#headerWrapper {
  position:fixed;
  width:100%;
  top:0;
  height: 20%; 
  z-index: 1;
  }

.contenthead {
  border-radius: 15px;
  background-color: ;
  font-weight: bold;
  
}
.content {
  opacity: 95%;
  margin-top:435px;
  margin-bottom: 10%;
  border-radius: 40px;
}

.messageError {
  color: rgb(255, 7, 7);
  text-align:right;
  animation: glow 1s ease-in-out infinite alternate;
}

.error {
  color: rgb(255, 7, 7);
  text-align:right;
  font-family: 'benguiatbold';
  animation: glow 1s ease-in-out infinite alternate;
}

.formfield-1 {
  margin-top: 5vh;
}

#footer1 {
  position:fixed;
  left: 0;
  bottom:0;
  width: 100%;
  background-color:#ffffff;
  color: rgb(60, 127, 235);
  text-align: center;
}

.icongen {
  font-size: 50px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

button {
  width: 30%;
}











