body {
margin-top: 15vh;;
background-color:#ffffffd3;
width: 100%;
height: auto;
background-size:cover;
background-repeat: no-repeat;
font-family: 'Lexend Deca', sans-serif;
font-family: 'Oxygen', sans-serif;
font-size: 20px;
}

.main {
  margin-top: 280px;
  margin-bottom:100px;
}

.bodyDark {
  background-color:#ffffffd3;
}


/* @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lexend+Deca:wght@100;300;400;500;700;900&family=Oxygen:wght@300;400;700&display=swap'); */
#headerWrapperDay {
  background:url('../assets/img/Sanity_Inn_Day.png');
  display:flex;
  background-size:cover;
  background-repeat: no-repeat;
  position:fixed;
  width:100%;
  top:0;
  height: 22%; 
  z-index: 1;
  color:#f8f9fa;
  left: 0;
  }

#headerWrapperNight {
    background:url('../assets/img//Sanity_Inn_Night.png');
    display:none;
    background-size:cover;
    background-repeat: no-repeat;
    position:fixed;
    width:100%;
    top:0;
    height: 20%; 
    z-index: 1;
    color:#f8f9fa;
    left: 0;
    }

.linkhead {
  width:max-content;
  margin-top: -40px;
  background-color:rgba(84, 83, 83, 0.783);
  border-radius: 5px;
  color:black;
}

.contenthead {
  width:100px;
  border-radius: 5px;
  background-color:rgba(84, 83, 83, 0.783);
  font-weight: bold;
  
}

.content {
  opacity: 95%;
  margin-top:435px;
  margin-bottom: 10%;
  border-radius: 40px;
}

.checkbox {
/*   padding:10%; */
}

#footer1 {
  position:fixed;
  left: 0;
  bottom:0;
  width: 100%;
  background-color:#ffffff;
  
  text-align: center;
}

.queryField {
  font-family: 'Oxygen', sans-serif;
/*   font-weight: bold;
 */  padding: 60px;
}


/* Button-Text(Font)-Class */
.icnbtns {
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
  text-decoration: none !important;
}

/* Fontawesome Icon Size-Class */
.icongen {
  font-size: 30px;

}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

/* Font Style Buttons START TEST */
/* .button-container {
  display: flex;
  justify-content: space-between;
} */

/* button {
  width: 30%;
}
 */
/* #button1 {
  background: url(
'../../Sanity_Inn_Wellnespalace/assets/circle-arrow-left-solid.svg');
  

  font-size: 2rem;
} */

/* #testBtns {
  color:red;
  font-size:150%;
} */

/* Font Style Buttons START END */
















